<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link
            rel="stylesheet"
            th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .fix-height {
            flex: 1;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }

        .title {
            font-weight: 600;
            font-size: 22px;
            display: block;
<!--            margin: 20px 0;-->
            /*text-transform: uppercase;*/
        }
        .navbar {
            padding-top: 30px;
        }
        .card {
            text-align:justify;
        }
        .card-header{
            text-align:center;
            background-color: #239f85;
            margin-top: 30px;
            border-radius: 3px;
        }
        .card-body{
            border: 1px solid;
            text-align:justify;
            border-radius: 3px;
        }

    </style>

</head>
<body>
<div th:include="header.html"></div>
<div class="background-image">
    <div class="background-content">
        <div class="container">
                <div data-test="col" class="col-md-12 col-lg-3 col-3 col-md-3 col-sm-3">
                    <div data-test="card" class="card">
                        <div data-test="card-header" class="card-header"><h2>
                                <span> Thông tin bệnh
                            nhân</span></h2>
                        </div>
                        <div data-test="card-body" class="card-body">
                            <ul data-test="list-group" class="list-group style_list_group__12VsQ">
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="far fa-user-circle"></i>&nbsp;<span th:text="${patientResponse.fullName}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined"><i
                                        class="far fa-mobile-alt"></i>&nbsp;<p th:text="${patientResponse.phoneNumber}"></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-test="col" class="col-md-12 col-lg-9 col-9 col-md-9 col-sm-9">
                    <div data-test="card" class="card">
                        <div data-test="card-header" class="card-header">
                            <h2>
                            <span> Xác nhận thông tin khám</span></h2></div>
                        <div data-test="card-body" class="card-body">
                            <div data-test="table" class="table-responsive">
                                <table class="table style_tableResponsive__3EsiM">
                                    <thead data-test="table-head" class="">
                                    <tr>
                                        <th>#</th>
                                        <th>Chuyên khoa</th>
                                        <th>Ngày khám</th>
                                        <th>Giờ khám</th>
                                        <th>Tiền khám</th>
                                    </tr>
                                    </thead>
                                    <tbody data-test="table-body">
                                    <tr>
                                        <td>1</td>
                                        <td><span th:text="${departmentName}"></span></td>
                                        <td><span th:text="${saveScheduleRequest.medicalDate}"></span></td>
                                        <td><span th:text="${saveScheduleRequest.hours+':00'}"></span></td>
                                        <td><span th:text="${price}"></span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div data-test="card-header" class="card-header">
                            <h2>
                                <span> Thông tin bệnh
                            nhân</span></h2>
                        </div>
                        <div data-test="card-body" class="card-body">
                            <ul data-test="list-group" class="list-group">
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-user"></i>&nbsp;Họ và tên &nbsp;
                                    
                                    <span th:text="${patientResponse.fullName}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-venus-mars"></i>&nbsp;Giới tính
                                        &nbsp;
                                    
                                    <span th:text="${patientResponse.sex}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-calendar-alt"></i>&nbsp;Ngày sinh
                                        &nbsp;
                                    
                                    <span th:text="${patientResponse.birthday}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-id-card"></i>&nbsp;CMND &nbsp;
                                    
                                    <span th:text="${patientResponse.identityNumber}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-credit-card"></i>&nbsp;Nghề nghiệp
                                        &nbsp;
                                    
                                    <span th:text="${patientResponse.job}"></span>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <i class="fas fa-map-marker"></i>&nbsp;Địa chỉ
                                        &nbsp;
                                    
                                    <span th:text="${patientResponse.address}"></span>
                                    
                                </li>
                            </ul>
                            <div>
                                <form method="POST" th:action="@{/saveSchedule}"  th:object="${saveScheduleRequest}">
                                    <input type="hidden" th:field="*{departmentId}" class="form-control" id="departmentId" name="departmentId">
                                    <input type="hidden" th:field="*{doctorId}" class="form-control" id="doctorId" name="doctorId">
                                    <input type="hidden" th:field="*{symptom}" class="form-control" id="symptom" name="symptom">
                                    <input type="hidden" th:field="*{medicalDate}" class="form-control" id="medicalDate" name="medicalDate">
                                    <input type="hidden" th:field="*{hours}" class="form-control" id="hours" name="hours">
                                    <button type="submit" class="btn btn-primary btn-register">Xác nhận</button>
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

        </div>
    </div>
</div>
<br>
<div th:include="footer.html"></div>
</body>
</html>