<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link
            rel="stylesheet"
            th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .fix-height {
            flex: 1;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }

        .title {
            font-weight: 600;
            font-size: 22px;
            display: block;
            margin: 20px 0;
            /*text-transform: uppercase;*/
        }
        .navbar {
            padding-top: 30px;
        }


    </style>

</head>
<body>
<div th:include="header.html"></div>
<div class="background-image">
    <div class="background-content">
        <div class="container">

                <div data-test="col" class="col-md-12 col-lg-3 col-3 col-md-3 col-sm-3">
                    <div data-test="card" class="card style_panels__2gmyd">
                        <div data-test="card-header" class="card-header style_panels_header__1OJJj">Thông tin bệnh
                            nhân
                        </div>
                        <div data-test="card-body" class="card-body mb-4 style_card_body__l8Kpi">
                            <ul data-test="list-group" class="list-group style_list_group__12VsQ">
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined"><i
                                        class="far fa-user-circle"></i>NGUYỄN THỊ HOÀNG NHI
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined"><i
                                        class="far fa-mobile-alt"></i>0915984908
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined"><i
                                        class="far fa-map-marker"></i>60/12 Thích Bửu Đăng, Phường 01, Quận Gò Vấp,
                                    Thành phố Hồ Chí
                                    Minh
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div data-test="col" class="col-md-12 col-lg-9 col-9 col-md-9 col-sm-9">
                    <div data-test="card" class="card style_panels__1RLy2 style_panel_mobile__2KgRN">
                        <div data-test="card-header" class="card-header style_panels_header__3MJJI"><h2
                                class="style_title_component__3jzrX style_title_choose_date__85sRK style_space_between__qFVTd style_title_header_mobile__23s4W">
                            <span> Xác nhận thông tin khám</span></h2></div>
                        <div data-test="card-body" class="card-body style_card_body__3zg4B">
                            <div data-test="table" class="table-responsive">
                                <table class="table style_tableResponsive__3EsiM">
                                    <thead data-test="table-head" class="">
                                    <tr>
                                        <th>#</th>
                                        <th>Chuyên khoa</th>
                                        <th>Dịch vụ</th>
                                        <th>Bác sĩ</th>
                                        <th>Giờ khám</th>
                                        <th>Tiền khám</th>
                                    </tr>
                                    </thead>
                                    <tbody data-test="table-body">
                                    <tr>
                                        <td>1</td>
                                        <td>PHỔI</td>
                                        <td>Khám dịch vụ</td>
                                        <td>Âu Thanh Tùng</td>
                                        <td>07/04 13:30</td>
                                        <td>150.000 đ</td>
                                        <td class="d-none">0 đ</td>
                                        <td>
                                            <button data-test="button" type="button"
                                                    class="btn-flat btn Ripple-parent style_button__bKNrt">
                                                <div><i class="far fa-trash-alt"></i>Xoá</div>
                                                <div data-test="waves" class="Ripple Ripple-outline "
                                                     style="top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div data-test="card-header"
                             class="card-header style_panels_header__3MJJI mt-3 d-none d-lg-block">
                            <div>Thông tin bệnh nhân</div>
                        </div>
                        <div data-test="card-body" class="card-body style_card_body__3zg4B d-none d-lg-block">
                            <ul data-test="list-group" class="list-group style_list_group__nBG8R">
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-user"></i>Họ và tên &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_"><strong>NGUYỄN THỊ HOÀNG NHI</strong></div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-venus-mars"></i>Giới tính
                                        &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_">Nữ</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-calendar-alt"></i>Ngày sinh
                                        &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_">12/09/2000</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-id-card"></i>CMND &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_">Chưa cập nhật</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-at"></i>Email &nbsp;</div>
                                    <div class="style_column2__1gWf_">Chưa cập nhật</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-users"></i>Dân tộc &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_">Kinh</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-credit-card"></i>Mã số BHYT
                                        &nbsp;
                                    </div>
                                    <div class="style_column2__1gWf_">Chưa cập nhật</div>
                                </li>
                                <li data-test="list-group-item" class="list-group-item list-group-item-undefined">
                                    <div class="style_column1__2c7_l"><i class="fal fa-map-marker"></i>Địa chỉ
                                        &nbsp;
                                    </div>
                                    <div class="style_column1__2c7_l">60/12 Thích Bửu Đăng, Phường 01, Quận Gò Vấp,
                                        Thành phố Hồ Chí
                                        Minh
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="style_next_prev__3XrPl">
                            <button data-test="button" type="button"
                                    class="btn-flat btn Ripple-parent style_button__bKNrt">
                                <div>Quay lại</div>
                                <div data-test="waves" class="Ripple Ripple-outline "
                                     style="top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                            </button>
                            <ul class=" list-unstyled list-inline m-0 p-0 ">
                                <li class="list-inline-item m-0 pr-3">
                                    <button data-test="button" type="button"
                                            class="btn-flat btn Ripple-parent style_button__bKNrt style_create__1hfMN">
                                        <div>Thêm chuyên khoa</div>
                                        <div data-test="waves" class="Ripple Ripple-outline "
                                             style="top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                                    </button>
                                </li>
                                <li class="list-inline-item m-0">
                                    <button data-test="button" type="button"
                                            class="btn-flat btn Ripple-parent style_button__bKNrt style_create__1hfMN style_buttonArrow__yB4G_">
                                        <div>Xác nhận<i class="fal fa-long-arrow-right"></i></div>
                                        <div data-test="waves" class="Ripple Ripple-outline "
                                             style="top: 0px; left: 0px; width: 0px; height: 0px;"></div>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<br>
<div th:include="footer.html"></div>
</body>
</html>