<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <title>Đặt lịch khám online</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link
            rel="stylesheet"
            th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        .fix-height {
            flex: 1;
        }

        a, a:hover, a:focus {
            text-decoration: none;
        }

        .title {
            font-weight: 600;
            font-size: 22px;
            display: block;
            margin: 20px 0;
            /*text-transform: uppercase;*/
        }
        .navbar {
            padding-top: 30px;
        }
        .verticalLine {
          border-left: thick solid black;
        }
        .icons {
            padding: 10px 5px 10px 5px;
            hover: red
        }
        .chooseTime{
            text-align:center;
            margin-left: 20px;
        }
        .chooseTime a{
            border: 1px solid black;
            margin: 20px 20px 20px 20px;
            border-radius: 3px;
            background-color: #EEEEEE;
            color: #000000;
<!--            padding: 10px 5px 10px 5px;-->
        }
        .chooseTime a:hover{
        background-color: #239f85;
            color: #FFFFFF;
        }
        .chooseTimea {
         margin: 20px ;

        }


    </style>
</head>
<body>

<div th:include="header.html"></div>

<div class="background-image">
    <div class="background-content">
        <div class="container lg-body">
            <div class="col-6 col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center mt-3">
                            <h1 class="title">Thông tin đặt lịch khám bệnh</h1>
                        </div>
                        <form method="POST" th:action="@{/booking}" th:object="${patientProfileResponse}">
                            <div class="form-group">
                                <label for="customerName">Họ và tên</label>
                                <input type="text" th:value="${session.name}" id="customerName" class="form-control"
                                       name="fullName" placeholder="Họ và tên..." disabled>
                            </div>
                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input type="text" th:value="${session.phone}" id="phone" class="form-control"
                                       name="phone" placeholder="Số điện thoại..." disabled>
                            </div>
                            <div class="form-group">
                                <label for="reason">Các triệu chứng</label>
                                <textarea rows="3" id="reason" class="form-control" name="symptom"
                                          placeholder="triệu chứng 1, triệu chứng 2, triệu chứng 3, ..."
                                          th:field="*{symptom}"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="scheduleDate">Chọn ngày khám:</label>
                                <input type="date" th:value="${scheduleDate}" class="form-control" id="scheduleDate"
                                       name="scheduleDate"/>
                            </div>
                            <span th:text="${error}" style="color:red;"></span>
                            <br>
                            <button th:if="${session.chooseTime != true}" type="submit"
                                    class="btn btn-primary btn-register">Xác nhận
                            </button>
                        </form>
                    </div>

                </div>
            </div>
            <div class="verticalLine">
                <hr style="width:10px">
            </div>
            <div class="col-6 col-md-6 col-sm-6" th:if="${session.chooseTime == true}">
                <form th:action="@{/}" th:object="${listFreeSchedule}">
                    <div class="form-group">
                        <label for="departmentName">Khoa khám bệnh: </label>
                        <input id="departmentName" class="form-control" th:field="*{departmentName}"
                               name="departmentName" disabled/>
                    </div>
                    <div class="form-group">
                        <label for="scheduleDate">Chọn giờ khám:</label>
                        <br>
                        <span>Buổi sáng: </span> <br>
                        <div class="chooseTime">
                            <div class="row">
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free1},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free1 != null}" class="chooseTimea">07:00 - 08:00</a>
                                    <a th:if="${free1 == null}" style="pointer-events: none;color: #FFFFFF;">07:00 - 08:00</a>
                                </div>
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free2},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free2 != null}" class="chooseTimea">08:00 - 09:00</a>
                                    <a th:if="${free2 == null}" style="pointer-events: none;color: #FFFFFF;">08:00 - 09:00</a>
                                </div>
                            </div>
                            <div class="row" style=" margin-top: 50px ;">
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free3},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free3 != null}" class="chooseTimea">09:00 - 10:00</a>
                                    <a th:if="${free3 == null}" style="pointer-events: none;color: #FFFFFF;">09:00 - 10:00</a>
                                </div>
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free4},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free4 != null}" class="chooseTimea">10:00 - 11:00</a>
                                    <a th:if="${free4 == null}" style="pointer-events: none;color: #FFFFFF;">10:00 - 11:00</a>
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <span >Buổi chiều: </span> <br>

                        <div class="chooseTime">
                            <div class="row">
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free5},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free5 != null}" class="chooseTimea">13:00 - 14:00</a>
                                    <a th:if="${free5 == null}" style="pointer-events: none;color: #FFFFFF;">13:00 - 14:00</a>
                                </div>
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free6},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free6 != null}" class="chooseTimea">14:00 - 15:00</a>
                                    <a th:if="${free6 == null}" style="pointer-events: none;color: #FFFFFF;">14:00 - 15:00</a>
                                </div>
                            </div>
                            <div class="row" style=" margin-top: 50px ;">
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free7},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free7 != null}" class="chooseTimea">15:00 - 16:00</a>
                                    <a th:if="${free7 == null}" style="pointer-events: none;color: #FFFFFF;">15:00 - 16:00</a>
                                </div>
                                <div class="col-6 col-md-6 col-sm-6 ">
                                    <a th:href="@{/booking/confirm(free=${free8},scheduleDate=${scheduleDate},symptom=${symptom},departmentId=${departmentId},departmentName=${listFreeSchedule.departmentName})}"
                                       th:if="${free8 != null}" class="chooseTimea">16:00 - 17:00</a>
                                    <a th:if="${free8 == null}" style="pointer-events: none;color: #FFFFFF;">16:00 - 17:00</a>
                                </div>
                            </div>
                        </div>

                    </div>

                    <br>

                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="footer.html"></div>
<script src="script.js"></script>
</body>
</html>
