<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{https://unpkg.com/swiper/swiper-bundle.min.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Khám bệnh</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; !important
        }

        .fix-height {
            flex: 1;
        }

        a, a:hover, a:focus {
            text-decoration: none;
            color: white;
        }

        .title {
            font-weight: 600;
            font-size: 22px;
            display: block;
            margin: 20px 0;
            text-transform: uppercase;
            /*text-transform: uppercase;*/
        }
        .navbar {
            padding-top: 30px;
        }
        .card {
            text-align:justify;
        }
        .card-header{
            text-align:center;
            background-color: #09d066;
            border-radius: 20px;
        }
        .card-body{
            text-align:justify;
        }

        .card-body span{
        }
        table {
            width: 100%;
        }
        table td{
            padding: 5px 5px 5px 5px;
        }
        .customTable tr td{
            border: 1px solid;
            text-align: left;
        }
        .customTable tr th{
            border: 1px solid;
            text-align: center;
        }
        .setBorder td{
            border: 1px solid;
            text-align: left;
        }
        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 30%;
            margin-top: 20px ;
        }
        header{
            margin-bottom: 100px ;
        }
        .container{
         height: 70%;
         min-height: 80vh;
         width: 100%;
        }
        .our-services{
            margin-top: 100px;
            margin-bottom: 30px;
        }
        .invalid {
        border-color: red;
        }
        .error{
        color: red;
        }
        select {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .table-container {
            max-height: 250px; /* Giới hạn chiều cao của container bảng */
            overflow-y: auto; /* Tạo thanh cuộn dọc khi bảng vượt quá chiều cao */
        }

        .table-container table {
            width: 100%; /* Đảm bảo bảng chiếm toàn bộ chiều rộng của container */
            /* Các thuộc tính CSS khác cho bảng */
        }

        .search-container {
            position: relative;
            display: inline-block;
        }

        .search-input {
            width: 250px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
        }

        .search-results {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: none;
            border-radius: 0 0 5px 5px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }

        .search-results li {
            padding: 10px;
            cursor: pointer;
        }

        .search-results li:hover {
            background-color: #f2f2f2;
        }
    </style>
    <script>
        //URL
        let URL_SEARCH_MEDICINE = 'http://localhost:8088/api/medicine/list';
    </script>
</head>
<body>
<div th:include="header.html"></div>
<div class="our-services">
    <div class="container">
        <div class="container">
            <div class="col-md-12 col-lg-12 col-12 col-md-12 col-sm-12" style="margin-top: 20px;">
                <div class="card" id="content">
                    <form method="POST" th:action="@{/patient/medical}" th:object="${medicalPatientRequest}">
                        <div class="card-header">
                            <h2><p>Thông tin bệnh nhân</p></h2>
                        </div>
                        <div class="card-body">
                            <div th:if="${detailPatientResponse}">
                                <table>
                                    <tr style="border: none">
                                        <td>
                                            <input readonly type="hidden" class="form-control" id="idC" name="id" th:field="*{patientId}">
                                            <i class="fa fa-user-circle-o"></i>&nbsp;
                                            <span>Họ và tên: </span>
                                            <b><span style="color: limegreen;" th:text="${detailPatientResponse.patientDetail.fullName}"></span></b>
                                        </td>
                                        <td>
                                            <i class="fa fa-birthday-cake"></i>&nbsp;
                                            <span>Ngày sinh: </span>
                                            <b><span style="color: limegreen;" th:text="${detailPatientResponse.patientDetail.birthday}"></span></b>
                                        </td>
                                        <td>
                                            <i class="fa fa-user-circle-o"></i>&nbsp;
                                            <span>Ba, mẹ, người giám hộ: </span>
                                            <b><span style="color: limegreen;" th:text="${detailPatientResponse.parentDetail.fullName}"></span></b>
                                            <input type="hidden" class="form-control" name="phoneNumberP" th:value="${detailPatientResponse.parentDetail.phoneNumber}">
                                            <input type="hidden" class="form-control" name="fullNameP" th:value="${detailPatientResponse.parentDetail.fullName}">
                                            <input type="hidden" class="form-control" name="addressP" th:value="${detailPatientResponse.parentDetail.address}">
                                            <input type="hidden" class="form-control" name="idP" th:value="${detailPatientResponse.parentDetail.id}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="fa fa-balance-scale"></i>&nbsp;
                                            <span>Cân nặng: </span>
                                            <b><span style="color: limegreen;" th:text="${detailPatientResponse.patientDetail.weight}"></span></b>
                                        </td>
                                        <td>
                                            <i class="fa fa-intersex"></i>&nbsp;
                                            <span>Giới tính: </span>
                                            <b><span style="color: limegreen;" th:if="${detailPatientResponse.patientDetail.sex == 'F'}">Nữ</span></b>
                                            <b><span style="color: limegreen;" th:if="${detailPatientResponse.patientDetail.sex == 'M'}">Nam</span></b>
                                        </td>
                                        <td>
                                            <i class="fa fa-phone"></i>&nbsp;
                                            <span>Số điện thoại: </span>
                                            <b><span style="color: limegreen;" th:text="${detailPatientResponse.parentDetail.phoneNumber}"></span></b>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card-header">
                            <h2><p>Thông tin khám bệnh</p></h2>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Tiền sử:</label>
                                        <input type="text" class="form-control" id="anamnesis" name="anamnesis" placeholder="..." th:field="*{anamnesis}">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>Triệu chứng:</label>
                                        <textarea rows="1" class="form-control" id="symptom" name="symptom" placeholder="..." th:field="*{symptom}"></textarea>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Chuẩn đoán:</label>
                                        <input type="text" class="form-control" id="diagnostic" name="diagnostic" placeholder="..." th:field="*{diagnostic}">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>Lời dặn:</label>
                                        <input type="text" class="form-control" id="advice" name="advice" placeholder="..." th:field="*{advice}">
                                    </div>
                                </td>
                            </tr>
                        </table>

                        <input type="hidden" id="resMedicines" th:field="*{resMedicines}" />
                        <div class="card-header">
                            <h2><p>Danh sách thuốc</p></h2>
                        </div>
                        <div class="card-body">
                            <table class="customTable" id="medicine-content">
                                <tr>
                                    <th>Tên thuốc</th>
                                    <th>Liều lượng</th>
                                    <th>Đơn vị</th>
                                    <th>Đường dùng</th>
                                    <th>Sáng</th>
                                    <th>Trưa</th>
                                    <th>Chiều</th>
                                    <th>Tối</th>
                                    <th>Cách dùng</th>
                                    <th>Số lượng</th>
                                </tr>
                                <tr>
                                    <td style="width: 250px;">
                                        <div class="search-container">
                                            <input type="hidden" class="search-input" id="medicine-id">
                                            <input type="text" class="search-input" id="medicine-name" oninput="searchCharacters(this.value)">
                                            <ul class="search-results" id="searchResults" style="display: none;"></ul>
                                        </div>
                                    </td>
                                    <td style="width: 100px;" contenteditable="true" id="medicine-dosage"></td>
                                    <td style="width: 100px;" contenteditable="true" id="medicine-unit"></td>
                                    <td style="width: 100px;" contenteditable="true" id="medicine-use"></td>
                                    <td style="width: 50px;" contenteditable="true" id="medicine-instruct-M" oninput="calculateQuantity()"></td>
                                    <td style="width: 50px;" contenteditable="true" id="medicine-instruct-L" oninput="calculateQuantity()"></td>
                                    <td style="width: 50px;" contenteditable="true" id="medicine-instruct-A" oninput="calculateQuantity()"></td>
                                    <td style="width: 50px;" contenteditable="true" id="medicine-instruct-N" oninput="calculateQuantity()"></td>
                                    <td style="width: auto;" contenteditable="true" id="medicine-instruct"></td>
                                    <td style="width: 50px;" contenteditable="true" id="medicine-quantity"></td>
                                </tr>
                            </table>
                            <br>
                            <button type="button" class="btn btn-primary btn-register" id="history" onclick="addRow();" style="background-color: #09d066;">
                                Thêm
                            </button>
                        </div>
                        <br>
                        <div class="card-body table-container">
                            <table id="medicine-table">
                                <tr>
                                    <th style="border: 1px solid;" class="text-center">Tên thuốc</th>
                                    <th style="border: 1px solid;" class="text-center">Số lượng</th>
                                    <th style="border: 1px solid;" class="text-center">Cách sử dụng</th>
                                    <th style="border: 1px solid; width: 50px;" class="text-center"></th>
                                </tr>
                            </table>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-register" style="background-color: #09d066;" onclick="createListMedicine();">
                            Kết thúc
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div th:include="footer.html"></div>
</body>
<script th:inline="javascript">
    var message = /*[[${message}]]*/ "";
    var token = /*[[${token}]]*/ "";
    var listMedicineRes = [];
    if(message != null && message != ""){
        alert(message);
    }
    var now = new Date();
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var day = ("0" + now.getDate()).slice(-2);
    var today = now.getFullYear() + "-" + month + "-" + day;

    function addPatient() {
<!--        alert("nhi nè");-->
        document.getElementById('idC').value = "";
        document.getElementById('fullNameC').value = "";
        document.getElementById('weightC').value = "";
        document.getElementById('birthdayC').value = "";
        let elements = document.getElementsByName('patientDetail.sex');
        for (let i = 0; i < elements.length; i++) {
            if (elements[i].type == "radio") {
                elements[i].checked = false;
            }
        }
    }
    document.getElementById("birthdayC").setAttribute("max", today);

    function cancel() {
        var parentId = document.getElementById('idP').value;
        if (parentId != "") {
            addPatient();
        } else {
            document.getElementById('phoneNumberP').value = "";
            document.getElementById('addressP').value = "";
            document.getElementById('fullNameP').value = "";
            addPatient();
        }
    }

    function getSelect() {
        var patientID = document.getElementById("patientSelect").value;
        var patient = findPatientById(patientID);
        if (patient != null) {
            document.getElementById('idC').value = patient.id;
            document.getElementById('fullNameC').value = patient.fullName;
            document.getElementById('weightC').value = patient.weight;
            document.getElementById('birthdayC').value = patient.birthday;
            let elements = document.getElementsByName('patientDetail.sex');
            for (let i = 0; i < elements.length; i++) {
                if (elements[i].id == patient.sex) {
                    elements[i].checked = true;
                }
            }
        }
    }

    function findPatientById(patientId) {
        var patientList = /*[[${listPatient}]]*/ [];
        for (var i = 0; i < patientList.length; i++) {
            if (patientList[i].id == patientId) {
                return patientList[i];
            }
        }
        return null;
    }

    function addRow() {
        var medicine_id = document.getElementById("medicine-id").value;
        var medicine_name = document.getElementById("medicine-name").value;
        var medicine_unit = document.getElementById("medicine-unit").innerText.trim();
        var medicine_dosage = document.getElementById("medicine-dosage").innerText.trim();
        var medicine_use = document.getElementById("medicine-use").innerText.trim();
        var medicine_instruct_M = document.getElementById("medicine-instruct-M").innerText.trim();
        var medicine_instruct_L = document.getElementById("medicine-instruct-L").innerText.trim();
        var medicine_instruct_A = document.getElementById("medicine-instruct-A").innerText.trim();
        var medicine_instruct_N = document.getElementById("medicine-instruct-N").innerText.trim();
        var medicine_instruct = document.getElementById("medicine-instruct").innerText.trim();
        var medicine_quantity = document.getElementById("medicine-quantity").innerText.trim();

        var table = document.getElementById("medicine-table");
        var row = table.insertRow(-1); // Insert at the end of the table
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell4 = row.insertCell(2);

        var instruct = "";
        var instructDB = "";
        if (medicine_use != null && medicine_use != "") {
            instruct += medicine_use;
            instructDB += medicine_use;
        }
        if (medicine_instruct != null && medicine_instruct != "") {
            if (instruct.length > 0){
                instruct += " - ";
                instructDB += " - ";
            }
            instruct += medicine_instruct;
            instructDB += medicine_instruct;
        }
        if (medicine_instruct_M != null && medicine_instruct_M != "") {
            if (instruct.length > 0){
                instruct += ", ";
                instructDB += ", ";
            }
            instruct += "<b>Sáng:</b> " + medicine_instruct_M;
            instructDB += "Sáng: " + medicine_instruct_M;
        }
        if (medicine_instruct_L != null && medicine_instruct_L != "") {
            if (instruct.length > 0){
                instruct += ", ";
                instructDB += ", ";
            }
            instruct += "<b>Trưa:</b> " + medicine_instruct_L;
            instructDB += "Trưa: " + medicine_instruct_L;
        }
        if (medicine_instruct_A != null && medicine_instruct_A != "") {
            if (instruct.length > 0){
                instruct += ", ";
                instructDB += ", ";
            }
            instruct += "<b>Chiều:</b> " + medicine_instruct_A;
            instructDB += "Chiều: " + medicine_instruct_A;
        }
        if (medicine_instruct_N != null && medicine_instruct_N != "") {
            if (instruct.length > 0){
                instruct += ", ";
                instructDB += ", ";
            }
            instruct += "<b>Tối:</b> " + medicine_instruct_N;
            instructDB += "Tối: " + medicine_instruct_N;
        }

        var medicineName = document.createElement("input");
        medicineName.setAttribute("type", "hidden");
        medicineName.setAttribute("value", medicine_name);

        cell1.innerHTML = medicine_name;
        cell1.appendChild(medicineName);

        var medicineQuantity = document.createElement("input");
        medicineQuantity.setAttribute("type", "hidden");
        medicineQuantity.setAttribute("value", medicine_quantity);

        cell2.innerHTML = "<b>" + medicine_quantity + " " + medicine_unit + "</b>" + " - " + medicine_dosage;
        cell2.appendChild(medicineQuantity);

        var medicineInstruct = document.createElement("input");
        medicineInstruct.setAttribute("type", "hidden");
        medicineInstruct.setAttribute("value", instructDB);

        cell4.innerHTML = instruct;
        cell4.appendChild(medicineInstruct);

        var deleteCell = row.insertCell(3); // Tạo một ô mới cho nút xóa
        var deleteButton = document.createElement("button"); // Tạo một nút xóa
        deleteButton.textContent = "Xóa"; // Thiết lập nội dung của nút
        deleteButton.onclick = function() {
            removeRow(this); // Gọi hàm xóa hàng khi nút được nhấn
        };

        var medicineId = document.createElement("input");
        medicineId.setAttribute("type", "hidden");
        medicineId.setAttribute("value", medicine_id);

        deleteCell.appendChild(deleteButton);
        deleteCell.appendChild(medicineId);

        row.classList.add("setBorder");
        clearMedicineContent();
    }

    function createListMedicine() {

        var table = document.getElementById("medicine-table");
        for (var i = 1, row; row = table.rows[i]; i++) {
            var id = row.cells[3].querySelector('input');
            var name = row.cells[0].querySelector('input');
            var quantity = row.cells[1].querySelector('input');
            var instruction = row.cells[2].querySelector('input');

            var newMedicine = {
                id: id.value,
                name: name.value,
                quantity: quantity.value,
                instruction: instruction.value
            };
            listMedicineRes.push(newMedicine);
        }

        document.getElementById('resMedicines').value = JSON.stringify(listMedicineRes);
    }

    function removeRow(button) {
        var row = button.parentNode.parentNode; // Lấy hàng chứa nút
        row.parentNode.removeChild(row); // Loại bỏ hàng khỏi bảng
    }

    function clearMedicineContent() {
        document.getElementById("medicine-id").value = "";
        document.getElementById("medicine-name").value = "";
        document.getElementById("medicine-dosage").innerText = "";
        document.getElementById("medicine-unit").innerText = "";
        document.getElementById("medicine-use").innerText = "";
        document.getElementById("medicine-instruct-M").innerText = "";
        document.getElementById("medicine-instruct-L").innerText = "";
        document.getElementById("medicine-instruct-A").innerText = "";
        document.getElementById("medicine-instruct-N").innerText = "";
        document.getElementById("medicine-instruct").innerText = "";
        document.getElementById("medicine-quantity").innerText = "";
    }

    function calculateQuantity() {
        function isFloat(value) {
            return !isNaN(parseFloat(value)) && isFinite(value);
        }
        var medicine_instruct_M = document.getElementById("medicine-instruct-M").innerText.trim();
        var medicine_instruct_L = document.getElementById("medicine-instruct-L").innerText.trim();
        var medicine_instruct_A = document.getElementById("medicine-instruct-A").innerText.trim();
        var medicine_instruct_N = document.getElementById("medicine-instruct-N").innerText.trim();

        var totalQuantity = 0;
        if (isFloat(medicine_instruct_M)) {
            totalQuantity += parseFloat(medicine_instruct_M);
        }
        if (isFloat(medicine_instruct_L)) {
            totalQuantity += parseFloat(medicine_instruct_L);
        }
        if (isFloat(medicine_instruct_A)) {
            totalQuantity += parseFloat(medicine_instruct_A);
        }
        if (isFloat(medicine_instruct_N)) {
            totalQuantity += parseFloat(medicine_instruct_N);
        }
        document.getElementById("medicine-quantity").innerText = totalQuantity;
    }

    function searchCharacters(keyword) {
        const searchResults = document.getElementById('searchResults');
        searchResults.innerHTML = ''; // Clear previous results

        if (keyword.trim() === '') {
            searchResults.style.display = 'none';
            return;
        }

        let search = fetch(URL_SEARCH_MEDICINE, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({
                "name": keyword,
                "isPage": 'false',
                "order": 'ASC',
                "orderBy": 'name',
                "pageIndex": '0',
                "pageSize": '10'
            })
        });

        search.then(function (response) {
            return response.json();
        }).then(function (res) {
            console.log(res.data.totalItems);
            if (res.data.medicines.length > 0) {
                res.data.medicines.forEach(medicine => {
                    const li = document.createElement('li');
                    li.textContent = medicine.name;
                    li.onclick = function() {
                        console.log('Selected: ', medicine);
                        selectMedicine(medicine.id, medicine.name, medicine.dosageStrength, medicine.unit);
                    };
                    searchResults.appendChild(li);
                });
                searchResults.style.display = 'block';
            } else {
                searchResults.style.display = 'none';
            }
        });
    }

    function selectMedicine(id, name, dosage, unit) {
        document.getElementById("medicine-id").value = id;
        document.getElementById("medicine-name").value = name;
        document.getElementById("medicine-dosage").innerText = dosage;
        document.getElementById("medicine-unit").innerText = unit;
        searchResults.style.display = 'none';
    }
</script>
</html>
